* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    width: 90vw;
    height: 100vh;
    padding: 10px;
    margin: 10px;
    background: url("https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/f/fb/Skin-Content-Background.jpg");
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    grid-template-areas: 
    "nav header header header header"
    "nav main main main main"
    "nav footer footer footer footer";
    grid-gap: 10px;
}

.main-section {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    
    background-color: rgba(255, 255, 255, 0.2);
}

#navbar {
    grid-area: nav;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#main_header {
    grid-area: header;
    text-align: center;
}

#Resources {
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.nav-link {
    grid-area: nav;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}


#main-doc {
grid-area: main;
justify-content: left;
}



@media (max-width: 750px) {
    body {
        background-color: green;
    }
}